<div class="container" ng-controller="learnController">    
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat
      </div>
      <div class="panel-body">
        <ul class="chat" ng-repeat="message in messagelist">
          <!-- <li class="left clearfix"><span class="chat-img pull-left"></span> -->
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">{{message.sender_name}}</strong>
              </div>
              <p>
                {{message.content}}
              </p>
            </div>
          <!-- </li> -->
                        
        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input ng-model="content" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-success btn-sm" ng-click="send()">Send</button>
            </span>
        </div>
      </div>
    </div> 
    <button class="btn btn-primary" ng-click="refresh()">Refresh Messages</button>
    <button class="btn btn-primary" ng-click="deleteRequest()">Cancel</button>
    <button class="btn btn-primary" ng-click="finishRequest()">Finish</button>
  </div>

</div>