<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/learner">Blue Wave</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/learner">Home</a></li>
              <li><a href="#/learner_profile">Profile</a></li>             
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="learnerLogoutController">
              <li><a ng-click='logout()' href="#/login">Log Out</a></li>
            </ul>
          </div>
        </div>
      </nav>

<div ng-controller="learnerProfileController">  
  <h3>My Requests</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Topic</th>
          <th>Difficulty</th>
          <th>Time</th>
          <th>Teacher Rating</th>
          <th>Understanding</th>
          <th>View Messages</th>
          <th>View Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requestlist">
          <td>{{request.question}}</td>
          <td>{{request.topic}}</td>
          <td>{{request.difficulty}}</td>
          <td>{{request.time}}</td>
          <td>{{request.teacher_rating}}</td>
          <td>{{request.understanding}}</td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#messagesModal" ng-click="setMessages(request)">View Messages</button></td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#commentsModal" ng-click="setComments(request)">View Comments</button></td>
        </tr>
      </tbody>
    </table>

          <!-- Modal -->
      <div class="modal" id="messagesModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Messages with teacher</h4>
            </div>
            <div class="modal-body">
              <ul class="chat" ng-repeat="message in messagelist">
                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font">{{message.sender_name}}</strong>
                    </div>
                    <p>
                      {{message.content}}
                    </p>
                  </div>                        
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

         <!-- Modal -->
      <div class="modal" id="commentsModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Your Comments</h4>
            </div>
            <div class="modal-body">
              <p>
                {{comments}}
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
</div>
