<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/teacher">Blue Wave</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/teacher">Home</a></li>
              <li><a href="#/teacher_profile">Profile</a></li>             
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="teacherLogoutController">
              <li><a ng-click='logout()' href="#/login">Log Out</a></li>
            </ul>
          </div>
        </div>
      </nav>

<div ng-controller="teacherRequestController">  
  <h3>Active Requests</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Topic</th>
          <th>Difficulty</th>
          <th>Name</th>
          <th>Contact Method</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requestlist">
          <td>{{request.question}}</td>
          <td>{{request.topic}}</td>
          <td>{{request.difficulty}}</td>
          <td>{{request.learner.name}}</td>
          <td>{{request.contact_method}}</td>
          <td><button class="btn btn-success" ng-click="acceptRequest(request._id)" data-toggle="modal" data-target="#myModal">Accept Request</button><td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" ng-click="refresh()">Refresh</button><td>


    <!-- Modal -->
  <div class="modal" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="cancelRequest()">&times;</button>
          <h4 class="modal-title">Waiting for your learner to accept..</h4>
        </div>
        <div class="modal-body">
          <p>Please wait..</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelRequest()">Leave</button>
        </div>
      </div>
    </div>
  </div>

</div>

