<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/teach" data-toggle="modal" data-target="#cancelModal1">Blue Wave</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/teach" data-toggle="modal" data-target="#cancelModal1">Home</a></li>
              <li><a href="#/teach" data-toggle="modal" data-target="#cancelModal2">Profile</a></li>             
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="teacherLogoutController">
              <li><a href="#/teach" data-toggle="modal" data-target="#cancelModal3">Log Out</a></li>
            </ul>
          </div>
        </div>
      </nav>
<div class="container" ng-controller="teachController">    
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat
      </div>
      <div class="panel-body">
        <ul class="chat" ng-repeat="message in messagelist">
          <!-- <li class="left clearfix"><span class="chat-img pull-left"></span> -->
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">{{message.sender_name}}</strong>
              </div>
              <p>
                {{message.content}}
              </p>
            </div>
          <!-- </li> -->
                        
        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input ng-model="content" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-success btn-sm" ng-click="send()">Send</button>
            </span>
        </div>
      </div>
    </div> 
<!--     <button class="btn btn-primary" ng-click="refresh()">Refresh Messages</button> -->
    <button class="btn btn-primary" ng-click="cancelRequest(request._id)">Cancel</button>
    <button class="btn btn-primary" ng-click="finishRequest(request._id)">Finish</button>
  </div>

     <!-- Modal -->
  <div class="modal" id="finishedModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">The learned finished the lesson!</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Review Lesson</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="keepTeaching()">Keep Teaching</button>
        </div>
      </div>
    </div>
  </div>

     <!-- Modal -->
  <div class="modal" id="cancelledModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">The learner cancelled the lesson..</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Review Lesson</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="keepTeaching()">Keep Teaching</button>
        </div>
      </div>
    </div>
  </div>

      <!-- Modal -->
  <div class="modal" id="finishModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to finish this lesson?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="finishRequest()">Yes</button>
        </div>
      </div>
    </div>
  </div>

     <!-- Modal -->
  <div class="modal" id="cancelModal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to cancel this lesson?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelRequest(1)">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="cancelModal2" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to cancel this lesson?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelRequest(2)">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="cancelModal3" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to cancel this lesson?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelRequest(3)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>